/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #0a0a0a;
}

a {
  color: #3f88e7;
  text-decoration: none;
}

a:hover {
  color: #180357;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
}


/*--------------------------------------------------------------
# ↓hero的大小
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 40px 40px 0 0;
  color: #f1c541;
  text-transform: uppercase;
}

.section-header p {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 50px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 10px;
}

.header.header-scrolled {
  background: rgb(25, 25, 25);
  padding: 4px 0px;
}

.header .logo img {
  max-height: 32px;
  margin-right: 5px;
  margin-top: -8px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #f8f4e8;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

.hr-edge-weak {
  border: 0;
  padding-top: 1px;
  background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 200;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 0px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.1s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 14px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fab641;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 100;
  visibility: hidden;
  background: rgb(31, 31, 31);
  border-radius: 10px;
}

.navbar .dropdown ul li {
  min-width: 120px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 800;
}


.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}


.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(32, 32, 32, 0.8);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h2 {
  color: rgb(248, 248, 248);
  margin-bottom: 80px;
  font-size: 80px;
  font-weight: 700;
}

#hero p {
  text-align: justify;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.856);
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}



#hero .carousel-indicators li {
  cursor: pointer;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #f1b603;
}

.accueil .content {
  background-color: #fbebc6;
  padding: 40px;
  text-align: justify;
  font-size: 20px;
  font-weight: 450;
  text-indent: 2em;
}

.accueil h3 {
  font-size: 20px;
  margin: 0 0 30px 0;
  font-weight: 700;
  color: #000000fc;
  text-transform: uppercase;
  
}

.accueil h2 {
  font-size: 40px;
  font-weight: 700;
  color: #030215;
}

.accueil p {
  margin: 2px 0 15px 0;
  line-height: 34px;
}


/*--------------------------------------------------------------
# motifs
--------------------------------------------------------------*/


.presentation .motifs-tabs {
  margin-top: 30px;
  margin-left: 0px;
}

.presentation .motifs-tabs h3 {
  color: #000000;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 10px;
}

.presentation .motifs-tabs .tab-content h4 {
  font-size: 22px;
  margin: 0;
  font-weight: 700;
  color: #500ea5;
}


.presentation .motifs-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-top: 8px;
  margin-right: 8px;
  color: hsl(0, 0%, 0%);
}


.modul {
  height: 100%;
}

thead th,
tbody th {
  color: rgb(0, 0, 0);
}

tbody td {
  font-weight: 500;
  color: rgba(226, 226, 226, 0.65);
}








/*--------------------------------------------------------------
# scripts ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
--------------------------------------------------------------*/


.script{
  width:650px;
  top: 100px;
  left: 100px;
  position:relative;
  background-color:rgb(0, 0, 0);
  margin-bottom: 100px;
  }


.scriptfinal{
  width:650px;
  top: 100px;
  left: 100px;
  position:relative;
  background-color:rgb(0, 0, 0);
  margin-bottom: 200px;
  }



.forwhat1{
  left: 0px;
  top: 400px;
  position:relative;
  background-color:rgba(255, 255, 255, 0);
  }


.forwhat2{
  left: 0px;
  top: 800px;
  position:relative;
  background-color:rgba(255, 255, 255, 0);
  }


.forwhat3{
  left: 0px;
  top: 200px;
  position:relative;
  background-color:rgba(255, 255, 255, 0);
  }


.forwhat4{
  left: 0px;
  top: 160px;
  position:relative;
  background-color:rgba(255, 255, 255, 0);
  }


  .son{
  width:200px;
  height:200px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-100px;
  background-color:black;
  }






/*--------------------------------------------------------------
# groupe
--------------------------------------------------------------*/
.nous {
  background: rgb(232, 202, 85);
  padding: 60px 0;
}

.nous .member {
  text-align: center;
  border-radius: 5px;
  background: rgb(255, 255, 255);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #1b1b1ae3;
  padding: 0 0 10px 0;
  font-size: 14px;
}

.footer .projet {
  text-align: center;
  padding-top: 10px;
  color: #fefefe;
}

.footer .faitpar {
  padding-top: 6px;
  text-align: center;
  font-size: 13px;
  color: #d5d0bf;
}